block header
  
  h1.site-header Classified Ads 2020 - Ultimate Listings

  //creating a navbar for the site
  nav.navbar
    ul.navbar-inner
      li.navbar-item
        a(href="/") Home
      li.navbar-item
        a(href="/ads") Ads List
      if !user
        li.navbar-item
          a(href="/register") Sign-Up
      if !user
        li.navbar-item
          a(href="/login") Login
      if user
        li.navbar-item
          a(href="/logout") Logout
      if user
        li.navbar-item
          a#headerUsername= user.username