extends layout

block content
  h1= title
  p Welcome to #{title}
  p Here, we allow users to create and view classified ads.
  p Simply navigate using the navigation bar at the top to access the ads listing.
  p You do not have to be a user to view the ads. However, if you would like to create or modify classified ads, you must create an account.