extends layout

block content

    h1 Login to Your Account

    form.authenticationForm(method="post")
        fieldset
            label.usernameLabel(for="username") Username:
            input.username(name="username", required)
        fieldset
            label.passwordLabel(for="password") Password:
            input.password(name="password", type="password", required)
        fieldset
            if messages == 'Login invalid. Please try again.'
                p.errorMessage= messages
            else
                p Click "Login" to continue.
            button.loginButton Login