extends layout

block content

    h1 Login to Your Account

    form.registerForm(method="post")
        fieldset
            label(for="username") Username:
            input.username(name="username", required)
        fieldset
            label(for="password") Password:
            input.password(name="password", type="password", required)
        fieldset
            p.errorMessage= messages
            button.loginButton Login