extends layout

block content

    h1 Register for an Account

    form.authenticationForm(method="post")
        fieldset
            label.usernameLabel(for="username") Username:
            input.username(name="username", required)
        fieldset
            label.passwordLabel(for="password") Password:
            input.password(name="password", type="password", pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required)
        fieldset
            button.registerButton Register