extends ../layout

block content

    h1 Classified Ads - Listings

    a(href="/ads/create") Create a New Classified Ad

    each ad in ads
        ul
            li= ad.title
            li= ad.description
            li= ad.price