extends ../layout

block content
    
    //Mark Sporich, Student #200399323
    //Website: Classified Ads

    h1 Classified Ads - Listings

    a(href="/ads/private-index") Are you a user? View the modifiable listings here!

    each ad in ads
        ul.adsList
            li.title= ad.title
            li= ad.description
            li= ad.price